<mat-card class="cardWithShadow">
  <mat-card-content class="p-24">
    <div class="row justify-content-between">
      <div class="col-lg-4 m-t-10">
        <mat-form-field appearance="outline" class="w-100 hide-hint">
          <input matInput placeholder="Search Brokerage" (keyup)="applyFilter($any($event.target).value)" />
          <mat-icon matSuffix>
            <i-tabler name="search" class="icon-20"></i-tabler>
          </mat-icon>
        </mat-form-field>
      </div>
      <div class="col-lg-4 m-t-10">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Select Brokerage Date</mat-label>
          <mat-date-range-input [rangePicker]="picker" [formGroup]="dateBrokerageListForm">
            <input matStartDate placeholder="Start date" formControlName="start">
            <input matEndDate placeholder="End date" formControlName="end">
          </mat-date-range-input>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker (closed)="filterDate()"></mat-date-range-picker>
        </mat-form-field>
      </div>
       <div class="col-lg-3"></div>
       <div class="col-lg-1">
          <div class="m-t20">
            <button mat-flat-button color="primary" class="d-flex align-items-center gap-1" (click)="filedownload()">
              <i-tabler name="file-download" class="icon-25"></i-tabler>
            </button>
          </div>
        </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="cardWithShadow">
  <mat-card-content class="p-24">
    <div class=" p-3 bg-light border">
      <table mat-table [dataSource]="brokerageDataSource" class="table table-sm table-bordered w-100 mt-2">

        <ng-container matColumnDef="#">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Sr No.</th>
          <td mat-cell *matCellDef="let element; let i = index">{{i+1 }}</td>
        </ng-container>

        <ng-container matColumnDef="party">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Party Name</th>
          <td mat-cell *matCellDef="let element">
            <div class="d-flex align-items-center">
              <div class="m-l-16">
                <p class="mat-subtitle-1 f-s-16 m-t-0">
                  {{getPartyName(element.party)}}
                </p>
              </div>
            </div>
          </td>
        </ng-container>


        <ng-container matColumnDef="broker">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Broker</th>
          <td mat-cell *matCellDef="let element">
            <div class="d-flex align-items-center">
              <div class="m-l-16">
                <p class="mat-subtitle-1 f-s-16 m-t-0">
                  {{getBrokerName( element.broker) }}
                </p>
              </div>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="invoiceNo">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Invoice No</th>
          <td mat-cell *matCellDef="let element">
            <div class="d-flex align-items-center">
              <div class="m-l-16">
                <p class="mat-subtitle-1 f-s-16 m-t-0">
                  {{ element.invoiceNo }}
                </p>
              </div>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="pONumber">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">P.O Number</th>
          <td mat-cell *matCellDef="let element">
            <div class="d-flex align-items-center">
              <div class="m-l-16">
                <p class="mat-subtitle-1 f-s-16 m-t-0">
                  {{ element.pONumber }}
                </p>
              </div>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="finalAmount">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Final Amount</th>
          <td mat-cell *matCellDef="let element">
            <div class="d-flex align-items-center">
              <div class="m-l-16">
                <p class="mat-subtitle-1 f-s-16 m-t-0">
                  {{ element.finalAmount }}
                </p>
              </div>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="brokerPercentage">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">B.Percentage</th>
          <td mat-cell *matCellDef="let element">
            <div class="d-flex align-items-center">
              <div class="m-l-16">
                <p class="mat-subtitle-1 f-s-16 m-t-0">
                  {{ element.brokerPercentage }}
                </p>
              </div>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="brokerAmount">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">B.Amount</th>
          <td mat-cell *matCellDef="let element">
            <div class="d-flex align-items-center">
              <div class="m-l-16">
                <p class="mat-subtitle-1 f-s-16 m-t-0">
                  {{ getBrokerAmount(element) }}
                </p>
              </div>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Status
          </th>

          <td mat-cell *matCellDef="let element" class="status">
            <mat-form-field appearance="outline" class="w-100">
              <mat-select [(value)]="element.status" (selectionChange)="updateBrokerage(element)">

                <mat-option value="Pending">Pending</mat-option>
                <mat-option value="Paid">Paid</mat-option>
                <mat-option value="Completed">Completed</mat-option>

              </mat-select>
            </mat-form-field>
          </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        <tr class="mat-row" style="text-align: center;" *matNoDataRow>
          <td class="mat-cell" [attr.colspan]="displayedColumns.length">
            No record found
          </td>
        </tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>